.App {
  text-align: center;
}

.App-header {
  padding: 10px;
  color: #4faaff;
  font-family: 'Advent Pro';
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  font-size: 28px;
  font-family: 'Advent Pro';
}

.buttons {
  width: 25%; 
  display: block;
  color:  #4faaff;
  text-align: center;
  font-size: 17px;
  border-radius: 30px;
  overflow: hidden;
}

.buttons:hover {
  background-color: #4faaff;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.button {
    background-color: #4faaff;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}