.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: black;
  height: 1000px;
  padding: 10px;
  color: #e8b6ff;
  font-family: 'Times New Roman', Times, serif;
}

.App-title {
  font-size: 3.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  margin: 0;
  font-size: 28px;
}

/* .header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
} */

#navbar {
  overflow: hidden;
  color: #E6E6FA;
  font-family: 'Times New Roman', Times, serif;
}

#navbar a {
  float: left;
  width: 25%; 
  display: block;
  color: #e8b6ff;
  text-align: center;
  /* padding: 20px; */
  text-decoration: none;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  /* background-color: #E6E6FA;; */
  color:  #e8b6ff;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}